alembic==0.7.6
cloudinary==1.1.2
Flask==0.10.1
Flask-Login==0.2.11
Flask-OAuthlib==0.9.1
Jinja2==2.7.3
Flask-SQLAlchemy==2.0
SQLAlchemy==1.0.5
requests==2.7.0
oauthlib==0.7.2
psycopg2==2.6.1
SQLAlchemy-Searchable==0.9.3
