{% block contributors %}
    <div class="col-xs-6 col-sm-3 col-md-3 team-stage">
        <div class="team boxed-grey">
            <div class="inner">
                <h5><a href='/pub/13'>ARIEL THOMPSON</a></h5>

                <p class="subtitle">Software Engineer</p>

                <div class="avatar"><img
                        src="https://res.cloudinary.com/dkgsqu3ym/image/upload/v1438701799/qvzgdcu5kphobawcms24.jpg"
                        alt=""
                        class="img-responsive"/></div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-3 col-md-3 team-stage">
        <div class="team boxed-grey">
            <div class="inner">
                <h5><a href='/pub/14'>CARL MYERS</a></h5>

                <p class="subtitle">Software Tools Engineer</p>

                <div class="avatar"><img
                        src="https://lh3.googleusercontent.com/-xAEh5usU05w/AAAAAAAAAAI/AAAAAAAAAvU/QEcwPOYk6_I/photo.jpg"
                        alt=""
                        class="img-responsive"/></div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-3 col-md-3 team-stage">
        <div class="team boxed-grey">
            <div class="inner">
                <h5><a href='/pub/10'>Didier Cabrera</a></h5>

                <p class="subtitle">Software Developer</p>

                <div class="avatar"><img
                        src="https://lh5.googleusercontent.com/-fy7_CFzuesM/AAAAAAAAAAI/AAAAAAAAABM/Eq8EeV-PHco/photo.jpg"
                        alt=""
                        class="img-responsive"/></div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-3 col-md-3 team-stage">
        <div class="team boxed-grey">
            <div class="inner">
                <h5><a href='/pub/19'>Michael Krebs</a></h5>

                <p class="subtitle">Software Developer</p>

                <div class="avatar"><img
                        src="https://res.cloudinary.com/dkgsqu3ym/image/upload/v1438965442/amtvnban8t4ndjkuowji.jpg"
                        alt=""
                        class="img-responsive"/></div>
            </div>
        </div>
    </div>

{% endblock %}