{% extends "static.html" %}
{% block content %}
	<div class="container profile-section">
        {#<h1>Search results for "{{ query }}":</h1>#}

		<div class="row">
            {% if result %}
				{{ result.id }}
                {% for result in result %}
						<div class="col-md-3 col-xs-3">
							<div class="search-grid">
								<div><img src="{{ result.photo }}" width="250" height="250"/></div>
                                {% for link in link %}
                                    {% if link.firstname == result.firstname %}
										<p class="center-block search-name">
											<a href="link/{{ link.id }}">{{ result.firstname }}</a></p>
                                    {% endif %}
                                {% endfor %}
								<span><i class="fa fa-chain"></i> {{ result.skill | upper }}</span>
							</div>
						</div>
                {% endfor %}
            {% endif %}
		</div>
	</div>
	<div class="extra-margin"></div>

{% endblock %}