{% extends 'static.html' %}
{% block content %}
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

    <!-- Section: intro -->
    <section id="intro" class="intro">
        <div class="slogan">
            <h1>{{ link.title }}</h1>
            <p>Comments just testing</p>
            <a href="#about" class="btn btn-skin scroll">Scroll down</a>
        </div>
    </section>
    <!-- /Section: intro -->

        <h2>Comment on {{ link.title }}</h2>
        <p><a href="/link/{{ link.slug }}">Go back to comments</a></p>
         <div class="container">

         <form class="form-signin" action="/link/{{ link.slug }}/comment" method="post" role="form">
             <h2 class="form-signin-heading">Add your comments</h2>
             <textarea name="comment" class="form-control"  required autofocus></textarea>
             <button class="btn btn-lg btn-primary btn-block" type="button">Comment </button>
             <p class="comment-success bg-success">Comment Successfully Sent</p>
         </form>

     </div>

    </body>
</html>

{% endblock %}