{% extends 'static.html' %}
{% block content %}
    <div class="container profile-section dev-container">
        <div class="row">
            <div class="col-md-4 col-xs-12 dev-grid-stack">
                <h4>Tags</h4>
                <hr/>
                <ul class="list-inline tech-tag-list">
                </ul>
                <div id="tag-loader">Loading Tags....</div>
                <a href="/devtools">Reset</a>
            </div>
            <div class="col-md-8 col-xs-12 dev-grid-block">
                <div id="toggle">
                    <h4><span id="tech-lang">What is this?</span></h4>
                    <hr/>
                    <div id="tech-about">
                        <p>This is where you get to see:
                        <ul>
                            <li>Tools you should use as a software developer</li>
                            <li>Information about a technology</li>
                        </ul>
                        <span>All you have to do is click on the lists on the left</span>
                        </p>

                        <p>Each technology tag on the left comes with:</p>
                        <ul>
                            <li>A summary about the language</li>
                            <li>IDE's suitable to use for that technology.</li>
                            <li>And Materials to read if you want to learn</li>
                        </ul>
                        <br/>
                        <h4>
                            TOOLS you should know about and use
                        </h4>
                        <hr/>
                        <div id="tech-to-use">
                            <ul class="real-tools">
                                <li>Real Software developers use an IDE such as <b>Sublime Text</b>, etc</li>
                                <li>Real Software developers use a version control system such as <b>
                                    <a href="https://git-scm.com/book/en/v2/Getting-Started-About-Version-Control"
                                       target="_blank">GIT</a> with
                                    <a href="https://github.com" target="_blank">Github</a>
                                    or <a href="http://bitbucket.org" target="_blank">Bitbucket</a></b>
                                </li>
                                <li>Real Software developers use <a href="http://google.com" target="_blank">Google</a>
                                    and
                                    <a href="http://stackoverflow.com" target="_blank">Stackoverflow</a> when they are
                                    stuck
                                </li>
                                <li>Real Software developers make use of the browser developer console, for <a
                                        href="https://developer.mozilla.org/en-US/docs/Tools/Web_Console">Mozilla
                                    Firefox</a>, for <a href="https://developer.chrome.com/devtools/docs/console">Chrome</a>,
                                    for <a href="http://dev.modern.ie/platform/documentation/f12-devtools-guide/">Microsoft Edge</a> or F12 for IE browsers
                                </li>
                                <li>Real Software developers pair program with tools like <i>Screenhero/Teamviewer for
                                    Mac and Windows, but Teamviewer alone for Linux</i>, And collaborative tools such
                                    as <a href="http://codeshare.io/" target="_blank">CodeShare.io</a>,
                                    <a href="https://pro.nitrous.io/?l=1&l=1" target="_blank">Nitrous.io</a>,
                                    <a href="https://kobra.io/#/" target="_blank">Kobra.io</a> and
                                    <a href="https://coderpad.io/" target="_blank">Coderpad.io</a></li>
                                <li>Real Software developers make use of the command line terminal extensively</li>
                                <li>Real Software developers know about Data Structures and Algorithms</li>
                                <li>And finally Real software developers would agree that when you go through
                                    either <a href="http://bento.io" target="_blank">Bento.io</a> or
                                    <a href="http://freecodecamp.com" target="_blank">Free Code Camp</a> You'd be
                                    considered a junior developer until you then have enough experience
                                </li>
                            </ul>
                        </div>
                        <br/>
                        <br/>

                        <p>Please if you have any contributions kindly visit
                            <a href="https://github.com/andela-bfowotade/partial-nowwehere" target="_blank">
                                Github page</a> to make a pull request. Please
                            make sure to read the instructions</p>
                    </div>
                    <div id="append-ide"></div>
                    <div id="append-materials"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="extra-margin"></div>

{% endblock %}