{% extends 'static.html' %}
{% block content %}


<!-- Section: about -->
<section id="about" class="about">
	<div class="slogan">
		<h1>About Nowwehere.io</h1>
		<p>Knowledge is like money: it must circulate to be of value, and in circulation it can increase
			in quantity and, hopefully, in value.</p>
	</div>
</section>
<!-- /Section: about -->

	<section id="contact" class="home-section text-center bg-gray">
		<div class="heading-contact marginbot-50">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">

						<div class="section-heading">
							<h2>Get in touch</h2>

							<p>If you have any suggestions, complaints, noticed a bug? or would like to contribute,
								kindly
								leave a message
								and you would get a response asap. Thank you.</p>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="container">

			</div>
		</div>
	</section>


{% endblock %}