{% extends 'static.html' %}
{% block content %}
    <!-- Where all the magic happens -->
    <!-- LOGIN FORM -->
	<div class="text-center">
		<div class="container profile-section">
			<div class="row"></div>
			<img class="center-block img-responsive img-circle" src="{{ url_for('static', filename='img/nwh.png') }}">
			<h3>Please Log In</h3>
			<span>
			<i class="fa fa-linkedin fa-2x"></i>
			</span>
			<i class="fa fa-google-plus-square fa-2x"></i>

			</div>
		</div>
		<!-- end:Main Form -->
	</div>

{% endblock %}