{% extends "static.html" %}
{% block content %}

    <!-- Add your site or application content here -->
	<div class="container profile-section">
		<div class="col-md-4 col-xs-6">
            {% if username.photo %}
				<img src="{{username.photo}}" class="profile-img" width="350" height="350">
            {% endif %}
            {% if not username.photo %}
				<img src="{{ url_for('static', filename='img/gravatar-60-grey.jpg' ) }}" class="profile-img">
            {% endif %}
			<span>
                <i class="profile-social profile-social-linkedin fa fa-linkedin fa-2x" alt="LinkedIn" title="LinkedIn">
				</i>
                <i class="profile-social profile-social-twitter fa fa-twitter fa-2x" alt="Twitter" title="Twitter">
				</i>
                <i class="profile-social profile-social-github fa fa-github fa-2x" alt="Github" title="Github"></i>
                <i class="profile-social profile-social-globe fa fa-globe fa-2x" alt="Website" title="Website"></i>
				<form action="" id="image-form" method="POST" enctype="multipart/form-data">
					<input type="file" name="image"/>
					<button type="button" class="btn btn-block btn-dark image-btn">Upload Image</button>
				</form>
                {% if username.vip == True %}
					<i class="profile-social-verified profile-social-verified fa fa-check-square fa-2x" alt="verified"
					   title="veirified"></i>
                {% endif %}
            </span>
		</div>
		<div class="profile-second-section col-md-8 col-xs-12">
            <span>
                <h5>Name</h5>
                <p>{{ username.firstname }} {{ username.lastname }}</p>
				<hr/>
            </span>
            <span>
                <h5>Job</h5>
                <p>{{ username.title }}</p>
				<hr/>
            </span>
            <span>
                <h5>About</h5>
                {% for comment in username.comments %}
					<p>{{ comment }}</p>
                {% endfor %}
				<hr/>
            </span>
			<span>
                <h5>Technology</h5>
                {% for tech in username.primary_technology %}
					<p>Majors In: {{ tech }}</p>
                {% endfor %}
				<p>also knows:
                    {% for secondary_tech in username.secondary_technology %}
                        {{ secondary_tech }}
                        {% if not loop.last %}
							,
                        {% endif %}
                    {% endfor %}
				</p>
				<hr/>
            </span>
			<span>
                <h5>What they wish they had Known while starting as a programmer</h5>
                <p>Wish i had the technolgies i am using now</p>
				<hr/>
            </span>
			<span>
                <h5>Recommended Reads</h5>
                <p><a href="#">Intro to javascript</a>, <a href="#">Intro to Python</a></p>
				<hr/>
            </span>
			<span>
                <h5>Advice to Upcoming Software Developers</h5>
                <p>Don't ever ever give up. Ability to change make it constant</p>
				<hr/>
            </span>
		</div>
	</div>

{% endblock %}