{% extends "static.html" %}
{% block content %}

    <!-- Add your site or application content here -->
	<div class="container profile-section">
		<div class="row">
			<div class="col-md-4 col-xs-12">
                {% if person.photo %}
					<img src="{{ person.photo }}" class="profile-img" width="350" height="350">
                {% endif %}
                {% if not person.photo %}
					<img src="{{ url_for('static', filename='img/gravatar-60-grey.jpg' ) }}" class="profile-img
					img-responsive center-block">
                {% endif %}
				<span>

                <i class="profile-social profile-social-linkedin fa fa-linkedin fa-2x" alt="LinkedIn"
				   data-toggle="tooltip"
				   data-placement="bottom" title="LinkedIn">
				</i>

                <i class="profile-social profile-social-twitter fa fa-twitter fa-2x" alt="Twitter" data-toggle="tooltip"
				   data-placement="bottom" title="Twitter">
				</i>

                <i class="profile-social profile-social-github fa fa-github fa-2x github-btn" alt="Github"
				   data-toggle="tooltip"
				   data-placement="bottom"
				   title="Github"></i>

                <i class="profile-social profile-social-globe fa fa-globe fa-2x website-btn" alt="Website"
				   data-toggle="tooltip" name="websitelink"
				   data-placement="bottom" title="Website Link"></i>

				<span><img class="upload_loader" src="{{ url_for('static', filename='img/ajax-loader.gif') }}"></span>
				<form action="" id="image-form" method="POST" enctype="multipart/form-data">
					<input id="file_field" type="file" name="image"/>
					<button type="button" class="btn btn-block btn-dark image-btn">Upload Image</button>
				</form>
				<span>Please upload images of format: jpg, png, jpeg, and of equal width and height e.g 575px x
					575px</span>
				<p class="upload-success bg-success"></p>
				<p class="upload-failure bg-danger"></p>

                    {% if person.vip == True %}
						<i class="profile-social-verified profile-social-verified fa fa-check-square fa-2x"
						   alt="verified"
						   title="veirified"></i>
                    {% endif %}
            </span>

				<div class="publink">
					<a href='link'>Public Link</a>
				</div>
				<div class="profile_links">
					<p>Website Link: <a class="profile-website-link" href="{{ person.social_website | default('#',
					true) }}"> {{ person.social_website | default('Please add link', true)  }}</a></p>
					<p>Github Link:<a class="profile-github-link" href="{{ person.social_github | default('#', true)
					}}"> {{ person.social_github | default('Please Add Link', true) }}</a></p>
					<p>Twitter Link: {{ person.social_twitter | default('Please add link', true) }}</p>
					<p>LinkedIn Link: <a class="profile-linked-link" href="{{ person.social_linkedin | default('Please
					add link', true) }}" target="_blank">LinkedIn </a></p>
				</div>
			</div>
			<div class="profile-second-section col-md-8 col-xs-12">
            <span>
                <h5>Name</h5>
                <p>{{ person.firstname }} {{ person.lastname }}</p>
				<hr/>
            </span>

				<form action="" id="profile-form" method="POST">
            <span>

				<label for="jobInput"><h5>Job</h5></label>
					<input type="text" class="form-control" value="{{ person.job }}" name="job" id="jobInput"
						   placeholder="Job
					Descrtiption">
				<hr/>
            </span>
            <span>
                <label for="about"><h5>Brief Summary About Yourself</h5></label>
					<textarea id="about" class="form-control" name="about"
							  rows="3">{{ person.about }}</textarea>
				<hr/>
            </span>

					<div class="space-section">
						<p>Skills</p>
					</div>
			<span>
				<h5>Major Skill</h5><small> i.e Ruby, Javascript (only one)</small>
					<input type="text" class="form-control" value="{{ person.major_skill }}" name="major_skill"
						   placeholder="What technology do you use">
				</span>
					<hr/>
				<span>
                <h5>Other Skills</h5><small>separate by commas</small>
					<div class="ui-widget">
						<label for="tags"></label>
						<input type="text" class="form-control" value="{{ person.other_skills }}" name="other_skills"
							   id="tags"
							   size="50">
					</div>
					</span>
					<hr/>

					<div class="space-section">
						<p>Advice</p>
					</div>
			<span>
                <h5>What you wished you had Known while starting as a programmer</h5>
					<textarea class="form-control" name="had_known"
							  rows="3">{{ person.had_known }}</textarea>
				<hr/>
            </span>
			<span>
                <h5>Recommended Reads for Upcoming Developers</h5><small>That want to learn your tech stack</small>
                <p><a href="#">Intro to javascript</a>, <a href="#">Intro to Python</a></p>
				<hr/>
            </span>
			<span>
                <h5>Advice to Upcoming Software Developers</h5>
					<textarea class="form-control" name="advice" rows="3">{{ person.advice }}</textarea>
				<hr/>
            </span>
					<button type="button" class="btn btn-block btn-dark profile-btn">Update Profile</button>
				</form>
				<p class="update-success bg-success">Profile Successfully Updated</p>

				<p class="update-failure bg-danger">Fail :(, Please try again</p>
			</div>
		</div>
	</div>
{% endblock %}